*.out
*.json
# !results/*
checkpoints
*.pyc
data/*
!data/snli_1.0
!data/fever
!data/mnli
runs/*
BPE/snli
BPE/snli_train
BPE/temp
*.res
*.res_hard
*.npy
.nfs000000000079e72b00000040
loss_results
src/create_synthetic_dataset.py
other/.ipynb_checkpoints/huggingface-checkpoint.ipynb
attributions/*
attributions_true/*
attributions*
slurm_out
*.csv
stats.torch
thres.png
exp_bart_b_attr_p_model/pytorch_model.bin
exp_bart_b_attr_t_model/pytorch_model.bin
*~
likelihoods
*.sh
transformers
results
results_test
*.torch