*.out
*.json
checkpoints
*.pyc
data/*
runs/*
BPE/snli
BPE/snli_train
BPE/temp
*.res
*.res_hard
*.npy
.nfs000000000079e72b00000040
loss_results
src/create_synthetic_dataset.py
other/.ipynb_checkpoints/huggingface-checkpoint.ipynb
attributions/*
attributions_true/*
slurm_out
*.csv
stats.torch
